<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DqTool.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <DqTool.UI.Properties.Settings>
            <setting name="MainPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="HpPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ScanPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Wait" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="HpLPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="HpRPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </DqTool.UI.Properties.Settings>
    </userSettings>
</configuration>
